img {
    width: 500px;
    height: 500px;
}
#contain {
    display: flex;
    justify-content: space-evenly;
}
#contain div {
    width: 30%;
}
#information {
    border: solid black;
}
#information div {
    width: 100%;
}
#price {
    color: red;
}
#description {
    font-size: 20px;
}