<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My E-commerce Website</title>

    <!-- Favicon -->
    <link rel="icon" href="image/logo.JPG" type="image/png" />

    <!--font-awesome link-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!--css link-->
    <link rel="stylesheet" href="/css/global.css " />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <!--Header section -->
    <header>
      <a href="#" class="logo"
        ><img
          src="/image/logo.jpg"
          alt="store logo image"
          class="logoimg"
        />ShoeTronics</a
      >
      <nav class="navbar">
        <a href="/" class="active">Home</a>
        <a class="" href="/product">Shop</a>
      </nav>
      <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <!-- show login button only if authenticated = false -->
        <% if (!authenticated) { %>
        <i class="fas fa-user" id="login-btn"></i>
        <% } else { %>
        <a href="/user/profile">
          <i class="fas fa-user"></i>
        </a>
        <a href="/user/logout" class="fas fa-sign-out-alt"></a>
        <% } %>
      </div>

      <!--User login form-->
      <div class="login-form-container">
        <div id="close-login-btn" class="fas fa-times"></div>
        <form action="/login" method="post">
          <h3>sign in</h3>
          <span>username</span>
          <input
            type="text"
            name="username"
            class="box"
            placeholder="Enter Username"
            id="username"
          />
          <span>password</span>
          <input
            type="password"
            name="password"
            class="box"
            placeholder="Enter Password"
            id="password"
          />
          <!--            <div class="checkbox">-->
          <!--                <input type="checkbox" name="" id="remember-me">-->
          <!--                <label for="remember-me">remember me</label>-->
          <!--            </div>-->
          <input type="submit" value="sign in" class="btn" />
          <!--            <p>forget password?<a href="#">click here</a></p>-->
          <p>do not have account?<a href="/signup"> Create one</a></p>
        </form>
      </div>
    </header>

    <!-- <section class="header">
        <a href="#" <img src="/images/logo.png" alt="My Logo"></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="index.ejs">Home</a></li>
                <li><a href="shop.ejs">Shop</a></li>
                <li><a href="blog.ejs">Blog</a></li>
                <li><a href="about.ejs">About</a></li>
                <li><a href="contact.ejs">Contact</a></li>
                <li><a href="cart.ejs"><i class="fa-light fa-cart-plus fa-beat-fade fa-sm" style="color: #ff4d00;"></i></a></li>
            </ul>
        </div>

    </section> -->

    <section id="ad">
      <h4>Free Shipping on Orders Over $50</h4>
      <h2>Get 20% Off Your First Order | Use Code: FIRST20</h2>
      <h1>Summer Sale</h1>
      <p>Shop now and step out in style!</p>
      <button onclick="window.location.href='/product';">Shop Now</button>
    </section>

    <section id="feature">
      <div class="fe-box">
        <img src="" alt="" />
      </div>
    </section>
    <!--Footer-->
    <section class="footer">
      <nav class="navbar" id="navbar">
        <a href="/about">About Us</a>
        <a href="/privacy">Privacy Policy</a>
        <a href="/help">help </a>
      </nav>
      <!-- copyright notice -->
      <p class="footer__copy">&#169; 2021 ShoeTronics. All rights reserved.</p>
    </section>
    <!--js link-->
    <script src="/js/script.js"></script>
  </body>
</html>
