<!DOCTYPE html>
<html>
  <head>
    <title>Customer Signup Form</title>
  </head>
  <body>
    <h2>Customer Signup Form</h2>
    <form action="/signup/new" method="post" enctype="multipart/form-data">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />

      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required /><br />

      <label for="address">Address:</label>
      <input type="text" id="customeraddress" name="customeraddress" /><br />

      <h2>Upload Profile image (optional)</h2>
      <label for="image">Profile Image:</label>
      <input type="file" id="image" name="image" /><br />
      <input type="submit" value="Signup" />
    </form>
  </body>
</html>
