/*  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: BrotherHood group 
  ID: Bao Tuan (s3977886),Phu Chau(s3975133),Tuan Minh(s3978609),Tuan Kiet(s3978885),Minh Hien(s3978807)
  Acknowledgement: https://www.w3schools.com/ */

body {
  width: 100%;
  height: fit-content;
  background-color: #e2e1e0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
    text-align: center;
  }
  
  th:first-child,
  td:first-child {
    border-left: 1px solid black;
  }
  
  th:last-child,
  td:last-child {
    border-right: 1px solid black;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .update-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .update-button:hover {
    background-color: #45a049;
  }

  @media only screen and (max-width: 1023px) {
    table {
      width: fit-content;
    }
  
    th,
    td {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    table {
      width: fit-content;
    }
  
    th,
    td {
      font-size: 12px;
    }
  }